
@import "../outils/variables";

.header{
    background-color: $generalBgColor;
    border-bottom: 1px solid $borderColor;
    padding :10px;

    .header-content{
        display:flex;
        justify-content : space-between;
        height:50px;
        width:1064px;
        align-items: center;
        
        .search-picture{
            
        }

    }

}